# Map Bounding Box [min_lon, min_lat, max_lon, max_lat]
BBOX = 8.396524,49.998003,9.032326,50.302657
CITY_CODE = "FRA"
CITY_NAME = "Frankfurt"
OPL = "fra_cleaned.opl"
OSMPBF = "germany-latest.osm.pbf"
CSV = "QZM_1X1KM.csv"
RAW_BASE_DIR = "raw_map_files"
OUTPUT_DIR = "Map_ZIPs"
GITHUB_TOKEN = "<Github_Token_Classic>"